body {
  font-family: Arial, sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 700px;
  margin: 80px auto;
  background: white;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h1 {
  color: #073763;
}

button {
  background-color: #073763;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0b5394;
}

#mensaje {
  margin-top: 25px;
  font-weight: bold;
}
